

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.footer{
	text-align:center;
}

#demo_sentence {
	color:#428bca;
	font-style:italic;
}